<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Stocks List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Stock</th>
        <th>Company</th>
    </tr>
    <tr th:each="stock : ${stocks}">
        <td th:text="${stock.stockId}">124</td>
        <td th:text="${stock.ticker}">124</td>
        <td th:text="${stock.company}">124</td>
        <td> <a th:href="@{'/stocks/purchase/' + ${stock.stockId}}">Purchase</a></td>
    </tr>
</table>

</body>
</html>